<div class="box">
  <mat-card *ngIf="film$ | async as film" class="card">
    <mat-card-header>
      <mat-card-title>{{ film.name }}</mat-card-title>
      <mat-card-subtitle>Episode {{ film.episodeId }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="content-wrap">
        <div class="image-box">
          <!-- Image mock -->
          <!-- <div class="image-mock"></div> -->
          <img
            src="../../../../assets/film-covers/{{ film.episodeId }}.jpg"
            alt="Cover image"
            srcset=""
            class="image-mock"
          />
        </div>
        <div class="table-box">
          <table class="detail-table">
            <tbody>
              <tr>
                <td class="detail-table-td-title">
                  Released:
                </td>
                <td class="detail-table-td-text">
                  {{ film.releaseDate | date: 'mediumDate' }}
                </td>
              </tr>
              <tr>
                <td class="detail-table-td-title">
                  Produced by:
                </td>
                <td class="detail-table-td-text">{{ film.producedBy }}</td>
              </tr>
              <tr>
                <td class="detail-table-td-title">
                  Directed by:
                </td>
                <td class="detail-table-td-text">
                  {{ film.director }}
                </td>
              </tr>
              <tr>
                <td colspan="2" class="description">
                  <p>
                    {{ film.description }}
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <mat-tab-group>
        <ng-container *ngFor="let data of additionalInfoArray">
          <mat-tab [label]="data.title">
            <div class="tab-content">
              <ng-container
                *ngFor="let item of data.data$ | async; let isLast = last"
              >
                <a [routerLink]="[data.routerLink, item.number]">
                  {{ item.name }}</a
                >{{ isLast ? '' : ', ' }}
              </ng-container>
            </div>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
