<nav class="nav" *ngIf="!isLoginPage">
  <div>
    <a class="logo" [routerLink]="['']">
      <img src="assets/Vector.svg" alt="" srcset="" />
    </a>

    <a [routerLink]="['/admin']" *ngIf="isAdmin" routerLinkActive="activated">
      <mat-icon aria-hidden="false" aria-label="Admin" class="nav-button">
        face
      </mat-icon>
    </a>
  </div>
  <a [routerLink]="['/login']" (click)="logOut()">
    <mat-icon aria-hidden="false" aria-label="Log out icon" class="nav-button">
      exit_to_app
    </mat-icon>
  </a>
</nav>
<app-loading
  *ngIf="loading$ | async"
  class="background above-all"
></app-loading>
<router-outlet></router-outlet>
