
.above-all {
  z-index: 1;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 1rem;
}
.logo img {
  width: 3em;
  height: 3em;
  transition: 300ms;
}
.logo img:focus,
.logo img:hover {
  filter: drop-shadow(0 0 0.2em #c2185b);
}
.logo img:active {
  filter: none;
}
