<div class="layout">
  <div class="layout-part" style="width: 60%">
    <mat-accordion class="my-headers-align">
      <ng-container *ngFor="let film of films$ | async">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ film.name }}
            </mat-panel-title>
            <mat-panel-description>
              <i>
                {{ film.director }}
              </i>
            </mat-panel-description>
            <mat-panel-description>
              <i>
                {{ film.releaseDate | date: 'mediumDate' }}
              </i>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{ film.description }}</p>
          <div class="button-panel">
            <button
              mat-button
              [routerLink]="['/films/', film.number]"
              (click)="open()"
            >
              Open
            </button>
          </div>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </div>
</div>
