<div class="box">
  <div class="content-wrap">
    <ng-container *ngIf="character$ | async as character">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ character.name }}</mat-card-title>
          <mat-card-subtitle>{{ character.gender }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="table-box">
            <table class="detail-table">
              <tbody>
                <tr>
                  <td class="detail-table-td-title">
                    Eye color:
                  </td>
                  <td class="detail-table-td-text">
                    {{ character.eyeColor }}
                  </td>
                </tr>
                <tr>
                  <td class="detail-table-td-title">
                    Height:
                  </td>
                  <td class="detail-table-td-text">{{ character.height }}</td>
                </tr>
                <tr>
                  <td class="detail-table-td-title">
                    Mass:
                  </td>
                  <td class="detail-table-td-text">
                    {{ character.mass }}
                  </td>
                </tr>
                <tr>
                  <td class="detail-table-td-title">
                    Skin color:
                  </td>
                  <td class="detail-table-td-text">
                    {{ character.skinColor }}
                  </td>
                </tr>
                <tr>
                  <td class="detail-table-td-title">
                    Was born in:
                  </td>
                  <td class="detail-table-td-text">
                    {{ character.birthYear }}
                  </td>
                </tr>
                <tr>
                  <td class="detail-table-td-title">
                    Planet:
                  </td>
                  <td class="detail-table-td-text">
                    <ng-container *ngIf="planet$ | async as planet">
                      <a [routerLink]="['/planets/', planet.number]">
                        {{ planet.name }}
                      </a>
                    </ng-container>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>
