@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

* {
  font-size: 1rem !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
.material-icons {
  font-family: 'Material Icons' !important;
}
body {
  background-color: rgba(0, 0, 0, 0.45);
}

.mat-card,
.mat-accordion {
  filter: drop-shadow(0px 0px 3px #c2185b);
}
