<div class="layout">
  <div class="layout-part">
    <mat-accordion class="my-headers-align">
      <ng-container *ngFor="let film of films$ | async">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title aria-label="Film name">
              {{ film.name }}
            </mat-panel-title>
            <mat-panel-description>
              <i aria-label="Director name">
                {{ film.director }}
              </i>
            </mat-panel-description>
            <mat-panel-description>
              <i aria-label="Release date">
                {{ film.releaseDate | date: 'mediumDate' }}
              </i>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p aria-label="Film description">{{ film.description }}</p>
          <div class="button-panel">
            <a
              mat-button
              [routerLink]="[filmLink, film.number]"
              aria-label="Open film button"
            >
              {{ buttonText }}
            </a>
          </div>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </div>
</div>
